<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Show groups</title>
</head>
<body>
    <table border class="table">
      <tr>
          <th>id</th>
          <th>name</th>
          <th>user ids</th>
          <th></th>
      </tr>
        {% for group in gs %}
            <tr>
                <th>{{ group.id }}</th>
                <th>{{ group.name }}</th>
                <th>{{ group.members }}</th>
                <th><a href="/group/{{ group.id }}/group">update</a></th>
            </tr>
        {% endfor %}
    </table>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>