{% extends "_menu.html" %}
{% block content %}
<div class="content_box">
                <h1>Select menu</h1>
                <div class="image_wrapper image_fr"><img src="images/templatemo_image_02.jpg" alt="image" /></div>

                <!--<p align="justify"><em>Nunc dictum, massa non dignissim commodo, metus quam vehicula lorem, et dignissim enim augue vitae pede. Donec at arcu. Nunc aliquam, dolor vitae sollicitudin lacinia, nibh orci sagittis diam, dignissim sodales dui erat nec eros. <a href="#">Fusce quis enim</a>. Nunc sit amet sapien eget eros iaculis hendrerit quis a enim. </em></p>-->
                <!--<p align="justify">Aenean eleifend, neque hendrerit elementum sodales, odio erat sagittis quam, sed tempor orci magna vitae tellus. Proin dui mauris, tempor eget, pulvinar sed, pretium sit amet, dui. Proin vulputate justo et quam. Aenean dolor mi, <a href="#">malesuada eget</a> consequat tristique, tempor vehicula ligula. Ut quis nibh orci, fermentum consequat est. Proin porta congue enim, a interdum mi hendrerit quis. Donec lacus sem, egestas vitae posuere in, pulvinar ac nisi. Nullam eu metus libero, et pretium massa.   Praesent mattis varius quam. Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget ante. </p>-->
                <p align="justify"> Donec faucibus, erat quis vestibulum luctus, ante magna scelerisque nibh, non pulvinar elit risus sed est. Quisque tincidunt commodo nisl. Morbi dui nulla, tristique viverra, commodo mollis, ultricies ut, augue. Quisque ut odio. Etiam fringilla vestibulum nulla. Suspendisse venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi dapibus dolor sit amet metus suscipit iaculis. Quisque at nulla eu elit adipiscing tempor. Nunc at lectus. </p>
                <div class="btn_more"><a href="#"><span>+</span> read more</a></div>
			</div>
{% endblock %}