{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.room_id) }}
    {{ render_field(form.lesson_id) }}

    {{ render_field(form.date) }}
    {{ render_field(form.para) }}
  </dl>
  <p><input type=submit value=add>
</form>

<table border>
  <tr>
    <th>id</th>
    <th>room</th>
    <th>lesson</th>
    <th>date</th>
    <th>para</th>
  </tr>
    {% for scheduler in schedulers %}
        <tr>
            <th>{{ scheduler.id }}</th>
            <th>{{ scheduler.room }}</th>
            <th>{{ scheduler.lesson }}</th>

            <th>{{ scheduler.date }}</th>

            <th>{{ scheduler.para }}</th>
        </tr>
    {% endfor %}
</table>